.custom-border {
    -fx-border-color: #BABABA;      /* warna garis border */
    -fx-border-width: 1.3;           /* ketebalan border */
    -fx-border-radius: 8;         /* sudut border melengkung */
    -fx-background-radius: 8;     /* sudut background melengkung */
    -fx-border-style: solid;       /* jenis garis solid */
    -fx-background-color: #f4f4f4;
}
